# ---- Python ----
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/
backend/.mypy_cache/

# SQLite (dev)
backend/stock.db


frontend/node_modules/
frontend/dist/


.DS_Store
Thumbs.db
.vscode/


.env
.env.*

# Docker volumes
pgdata/
postgres_data/

# Logs
*.log

# Alembic cache
backend/alembic/versions/__pycache__/

# OS
*.swp